.crop{
    position: relative;
    overflow: hidden;
}
.pic{
    height: 80%;
    width: 100%;
}

body {
    background-color: rgb(243, 243, 243);
    color: #1A223B;
}
#hovering:hover {
    background-color: rgb(241, 241, 241);
}
.writer{
   justify-items: left;
}

#content{
    width: 85%;
}

.intro{
    padding-top: 2.5cm;
    height: 450px;
    background-color: #051622;
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#thumbnail{
    height: 30%;
    width: auto;
    overflow: hidden;
}
.comments{
    min-height: 2cm;
    border: 0.5px solid rgb(176, 175, 175);
    padding-left: 0.8cm;
    padding-top: 0.2cm;
}


.postIntro{
    font-style: oblique;
    font-size: larger;
}

.avatar{
    border-radius: 50%;
    border: 3px rgb(221, 153, 26) solid;
    width: 270px;
    height: 270px;
}

.avatar-home{
    border-radius: 50%;
    border: 1px rgb(234, 161, 16) solid;
    width: 38px;
    height: 38px;   
}

#mymenu a{
    color: #051622;
    display: list-item;
    list-style: none;
    text-decoration: none;
    font-size: medium;
    font-family: fantasy;
}

#mymenu-nav a{
    color: #ffffff;
    display: list-item;
    list-style: none;
    text-decoration: none;
    font-size: medium;
    font-family: fantasy;
}
#arrow:hover{
    background-color: #051622;
    color: red;

}
#profile-back{
    background-color:#051622;
    height: 6cm;
    margin-top:0cm;
}
#bio{
    max-height: 3cm;
    max-width: 8cm;
    

}








@media screen and (max-width:775px) {
    .search{
       display: none;
    }
    .icon{
        display: inline-block;
    }
    #input{
        display: none;
    }
}

@media screen and (min-width:776px) {
    .search{
       display: inline-block;
    }
    .icon{
        display: none;
    }
}

@media screen and (max-width:775px){
    #home-menu{
        display: none;
    }
    
  
}











@media screen and (max-width:370px){
 
    .avatar{
        border-radius: 50%;
        border: 3px white solid;
        width: 120px;
        height: 120px;

    }
    .img-wrap{

        position: relative;
        padding-top: 2cm;
    }
    #profile-back{
        background-color:#051622;
        height: 3.7cm;
        margin-top:0cm;
    }
 
}


@media screen and (min-width:371px){
   
    .avatar{
        border-radius: 50%;
        border: 3px white solid;
        width: 150px;
        height: 150px;
    }
    .img-wrap{

        position: relative;
        padding-top: 2cm;
    }
    #profile-back{
        background-color:#051622;
        height: 4cm;
        margin-top:0cm;
    }
    
}


@media screen and (min-width:790px){
   
    .avatar{
        border-radius: 50%;
        border: 3px white solid;
        width: 180px;
        height: 180px;
    }
    .img-wrap{

        position: relative;
        padding-top: 2cm;
    }
    #profile-back{
        background-color:#051622;
        height: 4.5cm;
        margin-top:0cm;
    }
    
}

@media screen and (min-width:1070px){
   
    .avatar{
        border-radius: 50%;
        border: 3px white solid;
        width: 220px;
        height: 220px;
    }
    .img-wrap{

        position: relative;
        padding-top: 2cm;
    }
    #profile-back{
        background-color:#051622;
        height: 5cm;
        margin-top:0cm;
    }
    
}

