.crop{
 
    height: 30%;
    overflow: hidden;
}

body {
    background-color: white;
    color: #1A223B;
}

#hovering:hover {
    background-color: rgb(241, 241, 241);
}
.writer{
   justify-items: left;

}
