
<!doctype html>
<html lang="en">
<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1,
 shrink-to-fit=no">
<title>blogyapp</title>
{% load bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
{{form.media}}
</head>


<body style=" color: #1A223B; background-color:rgb(255, 255, 255)">
    <!-- 
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'blogyapp:home1' %}" style="color:rgb(123, 255, 0); font-style: italic; font-weight: 600;">+Blogy_>></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'blogyapp:index' %}">Topics </a>
          </li>
         
        </ul>

        <div class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
        <li class="nav-item ">
            <div class="navbar-text"> Hello {{ user.username|title }}--</div>
        </li>
        <li class="nav-item">
            <a href="{% url 'users:logout' %}" class="btn btn-outline-warning">Logout</a>
        </li>
         {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'users:register' %}">Register</a>
        </li>
        <li class="nav-item">
            
            <a href="{% url 'users:login' %}"class="btn btn-success">Login</a>
        </li>
         {% endif %}

</nav>
-->
<nav class="navbar fixed-top navbar-dark " style="background-color:#1A223B; height: 2.5cm; box-shadow:0 0 6px #000000; ">
  <div class="container-fluid">
  
    <button style= "color: black;" class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span style=" background-color: rgba(50, 50, 50, 0.298); height: 0.8cm; width: 1cm; border-radius: 3px;" class="navbar-toggler-icon"></span>
    </button>
    <br>
    
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-primary" type="submit">Search</button>
    </form>
   
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"  style= "width: 7cm;background-color:#4d5579dc;" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        {% if user.is_authenticated %}
        <div  style=" height: 0.3cm; color:white;  font-weight: 600; font-size: larger;" class="navbar-text"> {{ user.username|title }}</div>
        {% endif %}
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            {% if user.is_authenticated %}
            <div> <a style=" color:white; font-weight: 600; font-size: larger;" class="nav-link" href="{% url 'blogyapp:dashboard' %}">Dashboard</a> </div>
            {% endif %}
          </li>
          <li class="nav-item">
            <a style=" color:white; ; font-weight: 600; font-size: larger;" class="nav-link active" aria-current="page" href="{% url 'blogyapp:home1' %}">Home</a>
          </li>
          <li class="nav-item">
            <a style="  color:white;  font-weight: 600; font-size: larger;" class="nav-link active" aria-current="page" href="{% url 'blogyapp:index' %}">Topics </a>
          </li>
          <li class="nav-item dropdown">
            <a style=" color:black; font-weight: 600; font-size: larger;" class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        
        <div class="form-inline my-2 my-lg-0">
          <ul class="navbar-nav ml-auto">
              {% if user.is_authenticated %}
              <li class="nav-item">
                  <a href="{% url 'users:logout' %}" class="btn btn-outline-warning">Logout</a>
              </li>
              {% else %}
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'users:register' %}">Register</a>
              </li>
              <li class="nav-item">
                  
                  <a href="{% url 'users:login' %}"class="btn btn-success">Login</a>
              </li>
              {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
<br>
<br>
<br>
                        
           
<div class = "container"  style="padding-top: 1cm;">
    {% block content %}
    
    {% endblock content %}

</div>








<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>

</body>

</html>