
<!doctype html>
<html lang="en">
<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
<title>Social Writer</title>
{% load bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load read-time %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">


<link rel="stylesheet" type="text/css" href="{% static 'blogyapp/css/read.css' %}"/>
{{form.media}}



</head>


<body>

{% if user.is_authenticated %}
  <nav class="navbar navbar-dark sticky-top" style="background-color:#051622;  height: 2cm;">
    <div class="container-fluid">
    <div style="display: flex;"> 
      <span style="color:  rgb(251, 201, 1);border: none;" class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg> 
      </span>
   
      <span style="padding-top: 5px;">
             <a style="text-decoration: none;font-size:1.1rem;font-weight:600" href="{% url 'blogyapp:home1' %}"><span style="color:white">Social</span><span style="color:rgb(250, 235, 13)">Writer</span>  </a> 
      </span>
    </div> 
     
   
    <div class = "search" > 
    <div style="display: flex;">  
        <button class="btn btn-outline-primary btn-sm"> write </button>
       
        &nbsp; &nbsp;
      <form class="d-flex" role="search">
        <input class="form-control me-2 form-control-sm" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-warning btn-sm" type="submit">Search</button>
      </form>
    </div>
  </div>

  <div  class = "icon" >  
    <div style="display: flex;">  
      <div class="dropdown ">
          <img class="avatar-home  dropdown-toggle " type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false" src="{{access_profiles.avatar.url}}">
         
          <ul style="width: 300px;" class="dropdown-menu dropdown-menu-light dropdown-menu-end " aria-labelledby="dropdownMenuButton2">
            <div class="container-fluid">

              <div class="card card-body">

                  <div  style="margin-bottom: 5px;">
                    <a class="d-flex " style="text-decoration: none;" href="#">  
                    <img class="avatar-home" src="{{my_profile.avatar.url}}"> 

                    <span style="font-size: 0.9rem;font-weight: 600;margin-left: 5px;"> 
                    <h6 style="margin-bottom: 0cm;margin-top: 0cm;font-size: 0.9rem;" >{{access_profiles.name.get_full_name}}</h6>
                    <h6 style="margin-bottom: 0cm;margin-top: 0cm;font-size: 0.85rem;color: rgb(128, 127, 127);"> @{{access_profiles.name}}   </h6> 
                    </span>
                    </a>
                    </div>

                    <div class="" style="width: 100%;font-size:0.85rem;margin:0cm">

                    <p style="margin: 0cm;color: rgb(86, 86, 86);">{{access_profiles.bio}}</p>
                  </div>

              </div>
              <br>
              <h6 style="margin-bottom: 20px ;"> Write Article</h6>

                <a href="#" class="btn btn-outline-secondary btn-sm" style="text-decoration: none;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                  <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                  </svg> &nbsp; Sign Out
                </a>
          </div>

        </ul>
      </div>

  
    </div>
  </div>
  
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"  style= "width: 8.5cm;background-color:#051622;" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <a style="text-decoration: none;font-size:1.1rem;font-weight:600" href="{% url 'blogyapp:home1' %}"><span style="color:white">Social</span><span style="color:rgb(250, 235, 13)">Writer</span>  </a> 

          <button style="color: white;" type="button" class="btn-close text-warning" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <hr style="color: white; margin: 0cm;">
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a style="margin-top: 0cm; color:white;font-size: larger; display: flex;" class="nav-link active" aria-current="page" href="{% url 'blogyapp:home1' %}">
                <div style="color:rgb(225, 149, 36);"> <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                  <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                </svg> </div>&nbsp;&nbsp; Home</a>
            </li>
            <li class="nav-item">
              {% if user.is_authenticated %}
              <a style=" color:white; font-size: larger;display: flex;" class="nav-link" href="#">
                <div style="color:rgb(225, 149, 36);"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-speedometer" viewBox="0 0 16 16">
                  <path d="M8 2a.5.5 0 0 1 .5.5V4a.5.5 0 0 1-1 0V2.5A.5.5 0 0 1 8 2zM3.732 3.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 8a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 7.31A.91.91 0 1 0 8.85 8.569l3.434-4.297a.389.389 0 0 0-.029-.518z"/>
                  <path fill-rule="evenodd" d="M6.664 15.889A8 8 0 1 1 9.336.11a8 8 0 0 1-2.672 15.78zm-4.665-4.283A11.945 11.945 0 0 1 8 10c2.186 0 4.236.585 6.001 1.606a7 7 0 1 0-12.002 0z"/>
                </svg></div>  &nbsp;&nbsp; Dashboard</a> 
              {% endif %}
            </li>
            
  
           
            <li class="nav-item">
              {% if user.is_authenticated %}
              <a style="  color:white; font-size: 1.2rem;display: flex;" class="nav-link active" aria-current="page" href="{% url 'blogyapp:user_entries' %}">
                <div style="color:rgb(225, 149, 36);"> 
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-journal-text" viewBox="0 0 16 16">
              <path d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
              <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
              <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
            </svg>
          </div> &nbsp;&nbsp; My Articles </a>
          {% endif %}
          </li>
         

          
            <li class="nav-item">
              {% if user.is_authenticated %}
              <a style=" color:white; font-size: larger;display: flex;" class="nav-link" href="{% url 'blogyapp:my_bookmarks' access_profiles.id %}"> 
                <div style="color:rgb(225, 149, 36);">
            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-bookmark-plus-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm6.5-11a.5.5 0 0 0-1 0V6H6a.5.5 0 0 0 0 1h1.5v1.5a.5.5 0 0 0 1 0V7H10a.5.5 0 0 0 0-1H8.5V4.5z"/>
            </svg></div> &nbsp;&nbsp; Bookmarks</a>
            {% endif %}
            </li>
            

          
            <hr style="color:white">
            
          </ul>
          {% if user.is_authenticated %}
          <center>
            <h6 style="font-size:1.1rem;font-weight: 600;color: #c7c5c5;"> Who to follow</h6>
          </center>
         
          {% for i in other_users %}
          <div class="d-flex" style="margin-bottom: 20px;">
            <img class="avatar-home" src="{{i.avatar.url}}"> 
  
            <div style="font-size: 0.9rem;font-weight: 700;margin-left: 10px;"> 
              <a style="text-decoration: none;" href="{% url 'blogyapp:profile_detail' i.id %}"> <h6 style="margin-bottom: 0cm;color: rgb(177, 177, 177);font-size: 0.95rem;"> @{{i.name}}   </h6>  </a> 
             <h6 style="margin-top:0cm;font-weight: 400;font-size: 0.75rem;color: rgb(133, 133, 133);">  {{i.bio|truncatechars:80}} </h6>
            </div>
            
          </div>
      
          {% empty%}
          <center>
            <h6>
              You are following everyone!
            </h6>
          </center>
          {% endfor %}
          <br>
          <center>
            <h6 style="font-size:1.1rem;font-weight: 600;color: #c7c5c5;"> Following</h6>
          </center>
        
          {% for i in my_guys %}
          <div class="d-flex" style="margin-bottom: 20px;">
            <img class="avatar-home" src="{{i.avatar.url}}"> 
  
            <div style="font-size: 0.9rem;font-weight: 600;margin-left: 10px;"> 
              <a style="text-decoration: none;" href="{% url 'blogyapp:profile_detail' i.id %}"> <h6 style="margin-bottom: 0cm;color: rgb(177, 177, 177);font-size: 0.95rem;"> @{{i.name}}   </h6>  </a> 
             <h6 style="margin-top:0cm;font-weight: 400;font-size: 0.75rem;color: rgb(133, 133, 133);">  {{i.bio|truncatechars:80}} </h6>
            </div>
            
          </div>
        
          {% empty %}

          <center>
            <h6>Not Following Anyone </h6>
          </center>
          {% endfor %}
          <br>
          {% endif %}
          
          
         
        </div>
      </div>
    </div>
  </nav> 
  
{% endif %}

    {% block content %}
    
    {% endblock content %}



<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>

</body>

</html>
