{% extends "blogyapp/base.html" %}
{% load bootstrap5 %}
{% load static %}
<link rel="stylesheet"  href="{% static 'blogyapp/css/read.css' %}">

{% block content %}

<div class="container-fluid" style="width: 90%;"> 

    <article><h1>My Bookmarks</h1></article>

    <div class="row"> 
        <div class="col-sm-12">
        {% for entry in access_profiles.bookmarked_articles.all %}

  
  
  
                      <div class="card card-body" style="box-shadow: 0 0 4px rgb(178, 178, 178);margin-bottom: 0.3cm;">
                          <di class="row">  
                        
                              <div  class="col-sm-3">  
                                  <div class="thumbnail" style="margin-top:0.8cm;height: 150px;">
                                      <a href="{% url 'blogyapp:read' entry.id %}"> <img  class="img-thumbnail " src= "{{entry.thumbnail.url}}" > </a>
                                      </div>
                                  
                              </div>
  
                              <div class="col-sm-8 ">   
  
                                   <div style="display: flex;" >
                                      
                                          <a  style="display: flex;text-decoration:none;"  href="{% url 'blogyapp:profile_detail' access_profiles.id  %}">
                                               <img class="avatar-home"  src="{{entry.profile.avatar.url}}">
                                                <h6 style="text-decoration:none;color: gray;margin-top: 0.3cm;margin-left: 0.2cm;"> {{ entry.profile.name }}</h6>
                                          </a>
                                          <div style="color: rgb(59, 59, 59);;margin-top: 0.3cm;font-size: 0.9rem; font-family: Arial, Helvetica, sans-serif;padding-left: 1.5cm;"> {{entry.date_added|date:"d M"}}</div> 
                                  </div>
                                 

                                  <h4 style="font-weight: 600; margin: 0.1cm;line-height: 1rem;font-family: Arial, Helvetica, sans-serif;" > {{entry.entry_title}}</h4> 
                                  <div style="font-size:1rem;line-height: 1.18rem;color:rgb(53, 53, 53);margin-left: 0.1cm; font-family: Arial, Helvetica, sans-serif;">  
                                     {{entry.introduction|truncatechars:400|linebreaks}}  
                                  
                                  </div>  
                                  
                              </div>
                              <div class="col-sm-2">
                                  <div>
                                       
                                      <br>
  
                                  </div>
                              </div>
  
  
                            </di>
        
        </div>
             
                <br>
            
        {% endfor %}
      </div>

   







</div>

{% endblock content %}