{% extends 'blogyapp/base.html' %}

<head>
  {% load bootstrap5 %}
  {% load static %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% load read-time %}
</head>

{% block content %}
<div class="container-fluid " >
  <div class="row">
    <div class="col">
      <div id="search_bar" style="display: none;margin-top: 10px;" class="card card-body">
        <form  action="{% url 'blogyapp:searched_articles' %}"   style="margin-right: 15px;" class="d-flex" role="search" method="post">
          {% csrf_token %}   
          <input class="form-control  form-control-sm" name = "search_text" type='text' placeholder="Search Articles" aria-label="Search">
          <button class="btn btn-outline-primary btn-sm" type="submit">Search</button>
        </form>
      </div>
    </div>
 
  </div>
</div>
<form action="{% url 'blogyapp:edit_profile' profile.id %}" method="post" enctype="multipart/form-data" >

    {% csrf_token %}  
    {% bootstrap_form form %}

    {% buttons %}
    <button class="btn btn-outline-success" name="submit">Save changes</button>
    {% endbuttons %}

</form>


{% endblock content %}