{% extends 'blogyapp/base.html' %}
{% load bootstrap5 %}

{% block content %}

<br>
<div class="container">  
<h4>Edit Article</h4>

<div class = " d-flex justify-content-center">

    <div class="col-11 col-md-8 ">
        <form  method='POST' enctype="multipart/form-data" action="{% url 'blogyapp:edit_entry' entry.id %}"  >
            {% bootstrap_form form%}
            {% csrf_token %}
            {% buttons %}
            <button class="btn btn-success" name="submit" > Save Changes </button>
            {% endbuttons %}
        </form>
        <br>
        <br>
    </div>
  

        

</div>










 
 {% endblock content %}