{% extends 'blogyapp/base.html' %}

<head>
  {% load bootstrap5 %}
  {% load static %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% load read-time %}
</head>

{% block content %}

<div class="d-flex justify-content-center">

  <div class="col-10 col-md-8" >
    <br>
    <center><h4>Edit Profile</h4></center>
    <br>
    <form action="{% url 'blogyapp:edit_profile' profile.id %}" method="post" enctype="multipart/form-data" >

      {% csrf_token %}  
      {% bootstrap_form form %}

      {% buttons %}
      <button class="btn btn-outline-success" name="submit">Save changes</button>
      {% endbuttons %}

  </form>

  </div>

</div>


{% endblock content %}