{% extends 'blogyapp/base.html' %}
{% load bootstrap5 %}
{% load static %}

{% bootstrap_css %}
{% bootstrap_javascript %}


{% block content %}
<div  class = "container">
    <div class="row">
        <div  class ="col-md-12">
            <div class = "card card-body">
                ________________ ________________ ________________ ________________ ________________
                ________________ ________________ ________________ ________________ ________________
                ________________ ________________ ________________ ________________ ________________
                ________________ ________________ ________________ ________________ ________________
                ________________ ________________ ________________ ________________ ________________
                ________________ ________________ ________________ ________________ ________________ 
                ________________ ________________ ________________ ________________ ________________
                ________________ ________________ ________________ ________________ ________________
                ________________ ________________ ________________ ________________ ________________
                ________________ ________________ ________________ ________________ ________________
            </div>
        </div>
    </div>
</div>


{% endblock content %}