{% extends 'blogyapp/base.html' %}
{% load bootstrap5 %}

{% block content %}
<div class="container-fluid " >
    <div class="row">
      <div class="col">
        <div id="search_bar" style="display: none;margin-top: 10px;" class="card card-body">
          <form  action="{% url 'blogyapp:searched_articles' %}"   style="margin-right: 15px;" class="d-flex" role="search" method="post">
            {% csrf_token %}   
            <input class="form-control  form-control-sm" name = "search_text" type='text' placeholder="Search Articles" aria-label="Search">
            <button class="btn btn-outline-primary btn-sm" type="submit">Search</button>
          </form>
        </div>
      </div>
   
    </div>
  </div>
<br>
<div class="container">  
<h3><a href="#" style="
    text-decoration: solid; color: black; font-weight: 300;"> topic</a></h3>
 
 <p>Add a new entry:</p>

<div class = "container">

    
        <form  method='POST' enctype="multipart/form-data" action="{% url 'blogyapp:new_entry' profile.id %}"  >
            {% bootstrap_form form%}
            {% csrf_token %}
            {% buttons %}
            <button class="btn btn-outline-primary" name="save"> save </button>
            <button class="btn btn-outline-success" name="upload"> upload_>> </button>
            {% endbuttons %}
        </form>

        

</div>










 
 {% endblock content %}