 
{% extends "blogyapp/base.html" %}
{% load bootstrap5 %}
{% load static %}
<link rel="stylesheet"  href="{% static 'blogyapp/css/read.css' %}">

{% block content %}
<div class="container">
<br>

 <center><h1>User Profiles </h1></center>
 <br>
 <ul>  
 {% for profile in profiles %}
 <div style="border: 1px solid rgb(187, 184, 184); width: 5cm; padding: 0.3cm;" class="profiles">
   <p> {{profile.name}}</p>
   <a href="{% url 'blogyapp:profile_detail' profile.id %}" class="btn btn-outline-success btn-sm" >view profile</a>
 </div>
 <br>
 {% endfor %}
</ul>
</div>
{% endblock content %}







