{% extends 'blogyapp/base.html' %}

<head>
  {% load bootstrap5 %}
  {% load static %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}

</head>
{% block content %}

<div class="container-fluid" style="width: 95%;">
<br>
    <div class="row">
        <div class="col-md-4">
            <div class="card card-body" style="background-color:rgb(10, 10, 63);border-radius: 12px !important;">
                <center>
                    <img class="avatar" src="{{profile.avatar.url}}" alt="">
                    <h5 style="color:rgb(228, 228, 228)">Mokhele Katleho</h5>
                </center>
               
            </div>
        </div>
        <div class="col-md-8">
            
        </div>
    </div>

</div>





{% endblock content %}

