{% extends "blogyapp/base.html" %}
{% load static %}
<link rel="stylesheet"  href="{% static 'blogyapp/css/read.css' %}">
{% block content %}

<div class="writer">  
    <div style="color: #1A223B; font-size: larger; font-weight: 700;">
        {{  topic.owner.username|title }}
    </div>

    <div style=" color: #1A223B; font-size: medium; font-weight: 500;">
        {{entry.date_added}}
    </div>
</div>  
<br><br>

<div class=" w-75 position-relative top-50 start-50 translate-middle-x">
    <div class = "myblogpost">
    <div class="card card-body">

        {% if entry.uploaded is True %}
        <h2 style="font-weight: 700;"> 
            {{entry.entry_title}}
        </h2>
        <div class="intor" style="font-family: Georgia, 'Times New Roman', Times, serif; font-style: oblique; background-color: rgba(137, 223, 202, 0.377);">
            <h4>{{entry.introduction}}</h4>
            </div>
        <div class = "crop">
            <img  class="img-thumbnail" src= "{{entry.thumbnail.url}}" >
        </div>

        
        <hr>
        <div class = "entry_text" style="font-weight: 400;font-size: medium; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" >
        {{entry.text|safe}}
        </div>
        {% else %}
        <strong> Entry not published yet </strong>

        {% endif %}

    </div>
</div>
</div>



{% endblock %}