{% extends 'blogyapp/base.html' %}
{% load bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<link rel="stylesheet" type="text/css" href="{% static 'blogyapp/css/read.css' %}"/>

{% block content %}
<div class="container-fluid " >
    <div class="row">
      <div class="col">
        <div id="search_bar" style="display: none;margin-top: 10px;" class="card card-body">
          <form  action="{% url 'blogyapp:searched_articles' %}"   style="margin-right: 15px;" class="d-flex" role="search" method="post">
            {% csrf_token %}   
            <input class="form-control  form-control-sm" name = "search_text" type='text' placeholder="Search Articles" aria-label="Search">
            <button class="btn btn-outline-primary btn-sm" type="submit">Search</button>
          </form>
        </div>
      </div>
   
    </div>
  </div>
<div class="container">   
<h2>User entries</h2>

<div class="row">

    {% for i in logged_in_user_articles %}

    {{i.entry_title}}

    {% endfor %}
</div>

</div>
{% endblock content %}